/* .products_wrapper{
    width: 100%;
    max-width: 100%;
    min-height:50rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
    margin:2rem 0;
    padding:0 2rem;
} */

/* .product_card{
    padding:1rem;
    border: .1rem solid #cbcbcb;
    border-radius: .5rem;
}

.product_header > img{
    max-width: 100%;
    object-fit: contain;
}

.product_title,.product_code,.product_availability{
    margin:.5rem 0 0 0;
}


.product_title{
    font-size: 1.8rem;
    font-weight: 600;
    color: #393939;
    margin:1rem 0 0 0;
    text-align: center;
}

.product_code{
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: #b0b0b0;
}
.product_availability{
    color: rgb(72, 167, 255);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
}
*/